# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/*
versions/*/run/*
!versions/1.20.1/run/saves
versions/1.20.1/run/saves/*/advancements
versions/1.20.1/run/saves/*/stats
